<div class="register-container">
    <form (submit)="onSubmit()">
        <div class="inputs-row"> <!-- Added this wrapper div for input fields -->
            <!-- Username input -->
            <div class="form-group">
                <label for="usernameInput">Username</label>
                <input type="text" id="usernameInput" [(ngModel)]="newUser.username" name="username" required>
            </div>
            <!-- Email input -->
            <div class="form-group">
                <label for="emailInput">Email address</label>
                <input type="email" id="emailInput" [(ngModel)]="newUser.email" name="email" required>
            </div>
            <!-- Password input -->
            <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" id="passwordInput" [(ngModel)]="newUser.password" name="password" required>
            </div>
        </div>
        <!-- Submit button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>

    </form>
</div>

<h3>User List</h3>
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button *ngIf="user.role !== 'superadmin'" (click)="upgradeToSuperAdmin(user)">Super Admin</button>
        <button *ngIf="user.role !== 'groupadmin'" (click)="upgradeToGroupAdmin(user)">Group Admin</button>
        <button *ngIf="user.role !== 'user'" (click)="degradeToUser(user)">User</button>
        <button (click)="deleteUser(user)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>