<div>
  <label for="groupSelect">Select Group:</label>
  <select id="groupSelect" [(ngModel)]="selectedGroup" (change)="onGroupSelected()">
    <option *ngFor="let group of userGroups" [value]="group">{{ group }}</option>
  </select>
</div>

<div>
  <label for="channelSelect">Select Channel:</label>
  <select id="channelSelect" [(ngModel)]="selectedChannel" (change)="onChannelSelected()">
    <option *ngFor="let channel of selectedGroupChannels" [value]="channel">{{ channel }}</option>
  </select>
</div>

<form (submit)="sendMessage()">
  <input type="text" [(ngModel)]="message" name="messageInput" placeholder="Enter your message">
  <button type="submit">Send</button>
</form>

<ul>
  <li *ngFor="let msg of messages">{{ msg }}</li>
</ul>
