<div class="profile-container">
    <form (submit)="saveChanges()">
        <h2>Edit Profile</h2>
        
        <!-- Username input -->
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" [(ngModel)]="userProfile.username" name="username">
        </div>
        
        
        <!-- ID input -->
        <div class="form-group">
            <label for="age">ID:</label>
            <input type="number" class="form-control" id="userid" [(ngModel)]="userProfile.userid" name="userid">
        </div>

        <!-- Save button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</div>
